$light-color: #ededed;
$light-color-rgb: 237, 237, 237;
$medium-color: #707070;
$dark-color: #252525;
$dark-color-rgb: 37, 37, 37;
$primary-color: #aaffc1;
$primary-red-color: #ffaaaa;
$secondary-color: #0058dd;
// $secondary-color: #ff0077;

:export {
  lightColor: $light-color;
  darkColor: $dark-color;
}
