@import "./colors.module";

:root {
  --base-unit: 8px;
  --base-border-radius: var(--base-unit);
  --base-border-size: 2px;
  --sidebar-width-collapsed: 60px;
  --sidebar-width-expanded: 300px;
  --primary-color: #{$primary-color};

  --font-color: #{$dark-color};
  --background-color: #{$light-color};
  --background-rgb: #{$dark-color-rgb};
  --tooltip-box-shadow-opacity: 0.1;
}

[data-theme="dark"] {
  --font-color: #{$light-color};
  --background-color: #{$dark-color};
  --background-rgb: #{$light-color-rgb};
  --tooltip-box-shadow-opacity: 0.3;
}

[data-color="green"] {
  --primary-color: #{$primary-color};
}

[data-color="red"] {
  --primary-color: #{$primary-red-color};
}
