@import "./colors.module";
@import "./theme.module";
@import "./reset";

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  font-family: "Menlo", sans-serif;
}

.container {
  color: var(--font-color);
  background-color: var(--background-color);
  padding: calc(var(--base-unit) * 2);
}

.wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - var(--base-unit) * 4);
  gap: calc(var(--base-unit) * 2);
}

.sidebar,
.main {
  height: 100%;
}

.main {
  width: 100%;
  overflow-y: auto;

  .content-container {
    margin: calc(var(--base-unit) * 8);
    transition: 0.3s ease-in-out;

    h1 {
      margin-bottom: calc(var(--base-unit) * 4);
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: var(--base-border-size);
        background-color: rgba(var(--background-rgb), 0.1);
        position: absolute;
        left: 0;
        bottom: calc(var(--base-unit) * -2);
        transform: translateY(-50%);
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;

  .logo {
    aspect-ratio: 1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--base-unit) * 2);
    background-color: $secondary-color;
    border-radius: var(--base-border-radius);
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &.expanded {
      aspect-ratio: auto;
    }
  }

  .nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar-item-container {
    position: relative;

    .tooltip {
      white-space: nowrap;
      padding: 0 calc(var(--base-unit) * 2);
      display: flex;
      align-items: center;
      background-color: var(--background-color);
      box-shadow: inset -4px -4px 4px
        rgba(0, 0, 0, var(--tooltip-box-shadow-opacity));
      border-radius: 0 var(--base-border-radius) var(--base-border-radius) 0;
      height: 100%;
      position: absolute;
      left: calc(100% + calc(var(--base-unit) * 2));
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s ease-in-out;
      z-index: 2;

      &.active {
        background-color: $dark-color;
      }
    }
  }

  .item {
    all: unset;
    width: calc(
      100% - calc(var(--base-unit)) * 4 - calc(var(--base-border-size) * 2)
    );
    margin: var(--base-unit);
    padding: var(--base-unit);
    border: var(--base-border-size) solid rgba(var(--background-rgb), 0.1);
    background-color: transparent;
    border-radius: calc(
      var(--base-border-radius) + calc(var(--base-border-radius) / 2)
    );
    display: flex;
    align-items: center;
    transition-property: background-color, border-radius, width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    &.active {
      color: $dark-color;
      background-color: var(--primary-color);
      border: var(--base-border-size) solid rgba($dark-color, 0.4);

      &:hover {
        background-color: var(--primary-color);
      }
    }

    &#expand-item {
      justify-content: center;
    }

    &:hover {
      background-color: rgba(var(--background-rgb), 0.08);
      border-radius: var(--base-border-radius);
    }

    &:focus-visible {
      outline: var(--base-border-size) dashed var(--primary-color);
    }

    .label {
      visibility: hidden;
      opacity: 0;
      width: 0;
      transform: translateY(4px);
      transition: 0.3s ease-in-out;

      &.sidebar-expanded {
        margin-left: var(--base-unit);
        visibility: visible;
        opacity: 1;
        width: auto;
        transform: translateY(0);
      }
    }
  }
}

.card {
  background-color: rgba(var(--background-rgb), 0.08);
  border-radius: var(--base-border-radius);
}

.theme-btn-container {
  display: flex;
  align-items: center;

  .theme-btn {
    all: unset;
    text-transform: capitalize;
    padding: 8px;
    border: 2px solid rgba(var(--background-rgb), 0.1);
    cursor: pointer;

    &:not(:first-of-type) {
      margin-left: -1px;
    }

    &:first-of-type {
      border-radius: 8px 0 0 8px;
    }

    &:last-of-type {
      border-radius: 0 8px 8px 0;
    }

    &:hover {
      background-color: rgba(var(--background-rgb), 0.08);
    }

    &.active {
      color: $dark-color;
      background-color: var(--primary-color);
      border: 2px solid rgba($dark-color, 0.4);

      &:hover {
        background-color: var(--primary-color);
      }
    }

    &:focus-visible {
      outline: 2px dashed var(--primary-color);
    }
  }
}
