@import "../../styles/colors.module";

.sidebar_item_container {
  position: relative;

  .item {
    all: unset;
    width: calc(
      100% - calc(var(--base-unit)) * 4 - calc(var(--base-border-size) * 2)
    );
    margin: var(--base-unit);
    padding: var(--base-unit);
    border: var(--base-border-size) solid rgba(var(--background-rgb), 0.1);
    background-color: transparent;
    border-radius: calc(
      var(--base-border-radius) + calc(var(--base-border-radius) / 2)
    );
    display: flex;
    align-items: center;
    transition-property: background-color, border-radius, width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    &.active {
      color: $dark-color;
      background-color: var(--primary-color);
      border: var(--base-border-size) solid rgba($dark-color, 0.4);

      &:hover {
        background-color: var(--primary-color);
      }
    }

    &#expand_item {
      justify-content: center;
    }

    &:hover {
      background-color: rgba(var(--background-rgb), 0.08);
      border-radius: var(--base-border-radius);
    }

    &:focus-visible {
      outline: var(--base-border-size) dashed var(--primary-color);
    }

    .label {
      visibility: hidden;
      opacity: 0;
      width: 0;
      transform: translateY(4px);
      transition: 0.3s ease-in-out;

      &.sidebar_expanded {
        margin-left: var(--base-unit);
        visibility: visible;
        opacity: 1;
        width: auto;
        transform: translateY(0);
      }
    }
  }

  .tooltip {
    white-space: nowrap;
    padding: 0 calc(var(--base-unit) * 2);
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: inset -4px -4px 4px
      rgba(0, 0, 0, var(--tooltip-box-shadow-opacity));
    border-radius: 0 var(--base-border-radius) var(--base-border-radius) 0;
    height: 100%;
    position: absolute;
    left: calc(100% + calc(var(--base-unit) * 2));
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
    z-index: 2;

    &.active {
      background-color: $dark-color;
    }

    .keys_container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .keyboard_key {
        font-size: 1.5rem;
        width: calc(var(--base-unit) * 5);
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid rgba(var(--background-rgb), 0.1);
        border-radius: var(--base-border-radius);
      }
    }
  }
}
