@import "../../styles/colors.module";

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;

  .logo {
    aspect-ratio: 1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--base-unit) * 2);
    background-color: $secondary-color;
    border-radius: var(--base-border-radius);
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &.expanded {
      aspect-ratio: auto;
    }
  }

  .sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
