@import "../../styles/colors.module";

.theme_btn_container {
  display: flex;
  align-items: center;

  .theme_btn {
    all: unset;
    text-transform: capitalize;
    padding: 8px;
    border: 2px solid rgba(var(--background-rgb), 0.1);
    cursor: pointer;

    &:not(:first-of-type) {
      margin-left: -1px;
    }

    &:first-of-type {
      border-radius: 8px 0 0 8px;
    }

    &:last-of-type {
      border-radius: 0 8px 8px 0;
    }

    &:hover {
      background-color: rgba(var(--background-rgb), 0.08);
    }

    &.active {
      color: $dark-color;
      background-color: var(--primary-color);
      border: 2px solid rgba($dark-color, 0.4);

      &:hover {
        background-color: var(--primary-color);
      }
    }

    &:focus-visible {
      outline: 2px dashed var(--primary-color);
    }
  }
}
